$background-color-principal: #edf0f1;
$font-family-principal: 'Roboto', sans-serif;
$background-color-form: #bc3b69;
$color-division: #d8e5e0; //barraque divide tareas pendientes de completadas
$font-color-list: #444;
